Enhance SPF Checking to deal with CVE-2019-20790

SPF has many optional fields in the headers it adds that are usually there but not required by the spec.

See issue #49 for more discussion.

If we are relying on previously-received headers for SPF and not doing our own lookups.

If checking received-spf:

* Check for pass
* Add a check for identifier=mailfrom (unless sender is <>)
* Add a check for mailfrom= AND confirm it matches the domain
* Else ignore the header (and log the result)

If we are checking Authentication-results:

* Check for pass
* Check for mailfrom=
* Confirm it matches the domain
* Else ignore the header (and log the result)

Some SPF's will note both the helo and the mailfrom but the pass will be based on the HELO, so we need to evaluate this separately.

1.4.1 will now only accept a Received-SPF that also bears an "identity" key with a value of "mailfrom", and an "envelope-from" key with a value matching whatever the envelope sender on the current session is.  The same constraint will be applied to Authentication-Results.

See commits 56a9030712290b6104cc1b5ccee1ad56ba1af558 and 82fae3ac70e01f64418a8dafcb993d65b4c0309a.

As far as I understand – please correct me if this is wrong –, the
recent change
https://github.com/trusteddomainproject/OpenDMARC/commit/82fae3ac70e01f64418a8dafcb993d65b4c0309a
makes OpenDMARC only accept SPF Authentication-Results where
`smtp.mailfrom` matches the sender exactly, ie *including the
local-part*.

However, RFC 8601, section 2.7.2 recommends (SHOULD) that the local-part
be omitted in SPF results:

> If the retrieved sender policies used to evaluate SPF do not contain
> explicit provisions for authenticating the local-part (see Section
> 3.4.1 of [MAIL]) of an address, the "pvalue" reported along with
> results for this mechanism SHOULD NOT include the local-part or the
> following "@" character.

That is, for SPF it is recommended to convey the sender in this format:

```
Authentication-Results: mail.gluet.ch; spf=pass smtp.mailfrom=example.com
```

In my [SPF Milter project](https://gitlab.com/glts/spf-milter), which I
use together with OpenDMARC, the above is how the Authentication-Results
header is implemented (by default; a compatibility option exists). The
change in OpenDMARC breaks this working and conformant setup.

Please consider changing the code to also accept Authentication-Results
that only convey the sender domain.


Note the reasoning given in RFC 8601, section 4:

> End users making direct use of this header field might inadvertently
> trust information that has not been properly vetted. If, for example,
> a basic SPF result were to be relayed that claims an authenticated
> addr-spec, the local-part of that addr-spec has actually not been
> authenticated. Thus, an MTA adding this header field SHOULD NOT
> include any data that have not been authenticated by the method(s)
> being applied. Moreover, MUAs SHOULD NOT render to users such
> information if it is presented by a method known not to authenticate
> it.

@glts: You are correct.  The examples we were basing our initial work on were based on what py-policyd put in (which is the full email address), but we should make it extract only the domain portion.

By the way, @glts, please let us know how we should credit you for the useful feedback.

The parsing code for Received-SPF headers added in commit
https://github.com/trusteddomainproject/OpenDMARC/commit/56a9030712290b6104cc1b5ccee1ad56ba1af558
does not yet properly handle quoted values. That is, it does not yet
recognise syntactically well-formed `envelope-from` values.

Here is an example of a syntactically well-formed Received-SPF header
(again as produced by my [SPF Milter
project](https://gitlab.com/glts/spf-milter)):

```
Received-SPF: pass (mail.gluet.ch: domain of newsletter@abcd.ch has authorized
 host 2a00:d70:0:e::225) receiver=mail.gluet.ch;
 client-ip="2a00:d70:0:e::225"; helo=webout012.mail.hostpoint.ch;
 envelope-from="newsletter@abcd.ch"; identity=mailfrom;
 mechanism="ip6:2a00:d70:0:e::/64"
```

As you can see, a few values are in double quotes, and are in fact
required to be quoted. Note in particular
`envelope-from="newsletter@abcd.ch"`, not
`envelope-from=newsletter@abcd.ch`. Refer to the grammar and the
examples in RFC 7208, section 9.1 (including erratum 5843).

Sorry for being pedantic, I recently spent quite a bit of time
constructing an SPF milter conforming to relevant RFCs as well as I
could – hence my interest.


> By the way, @glts, please let us know how we should credit you for the useful feedback.

(reply sent via email)

> Please consider changing the code to also accept Authentication-Results
> that only convey the sender domain.

...and not only to accept AR results which only convey the sender domain, but also: When OpenDMARC is instructed to conduct its own SPF test, that SPF test's resulting Authentication-Results header should align to RFC8601, i.e. it "SHOULD NOT" include the local part of the MAILFROM address.

_If the retrieved sender policies used to evaluate SPF do not contain explicit provisions for authenticating the local-part (see Section 3.4.1 of [MAIL]) of an address, the "pvalue" reported along with results for this mechanism SHOULD NOT include the local-part or the following "@" character._  [https://tools.ietf.org/html/rfc8601#section-2.7.2](url)

Currently OpenDMARC SPF evaluation writes (e.g.) this:
`Authentication-Results: mail.simonandkate.net; spf=pass smtp.mailfrom=approvals@ambrosebuilding.com.au`
...where by the letter of RFC8601 it should be:
`Authentication-Results: mail.simonandkate.net; spf=pass smtp.mailfrom=ambrosebuilding.com.au`

So as I read all the recent comments, we have three distinct issues here:

1) Received-SPF parsing doesn't honor quotes properly.

2) Received-SPF comparisons should only compare domains; the local-part should be ignored.

3) We're generating Authentication-Results with the local-part, violating RFC 8601.

Are we confusing things by tracking them all in one issue?

That commit should fix (1) in my last comment.

Unless 1.4.1 introduced (2) and (3), I suggest we ship 1.4.1 now and fix those in 1.4.2 or 1.5.0.  Otherwise we seem to keep coming up with reasons to hold on to 1.4.1.

There's the fix for (2).

5f980792546d11bc16dff7f875188ba81989ba33 is the fix for (3).

> I recently spent quite a bit of time
> constructing an SPF milter conforming to relevant RFCs as well as I
> could – hence my interest.
@glts  I just installed 0.3.0. It looks good, I like it... Watching for 0.3.1 with the single AR header :)
